<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kim.mapper.SupplyMapper">
	<!-- 공급회사 목록  -->
	<select id = "supplyList" resultType="com.kim.model.SupplyDTO">
		select * 
		from (
				select @rownum:=@rownum+1 rownum, s.*
				from supplier s, (select @rownum:=0) as tmp
			) as supplyList
<!-- 		<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount};
		]]> -->
		
<!-- 		select * from supplier order by no asc -->
	</select>
	
	<!-- 구매 요청 페이지  -->
	<select id = "purchaseList" resultType="com.kim.model.OrderDTO">
		select * 
		from (
				select @rownum:=@rownum+1 rownum, rk.*
				from request_check rk, (select @rownum:=0) as tmp
			) as purchaseList where rno = #{chk_arr};
	</select>
	
	<!-- 거래명세서  -->
	<select id = "supplyOrderList" resultType="com.kim.model.SupplyOrderDTO">
		select * 
		from (
				select @rownum:=@rownum+1 rownum, mo.*
				from medical_order mo, (select @rownum:=0) as tmp
			) as supplyOrderList		
	</select>
	
</mapper>