<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kim.mapper.YangMapper">

	<insert id="membership">
		insert into membership(name, password, dept, brh, email, pn)
		values (#{name},#{password},#{dept},#{brh},#{email},#{pn})
	</insert>
	
<!-- Mapper에서 result으로 값을 되돌려줘야 한다. 	-->
	<select id="loginCheck" resultType="int">
		select count(*) from membership where name = #{name} and password = #{password};
	</select>
	
</mapper>