@charset "UTF-8";

#K-01 {
	margin: 0 auto;
	padding-top: 6%;
	text-align: center;
	width: 1200px;
	height: 500px;
	color: #009999;
	position: relative;
    right: 90px;
}

#K-02 {
    position: relative;
    left: 34%;
    width: 600px;
    text-align: left;
}

#K-02 div {
	margin: 5px;
}

#K-02 label {
	font-size: 24px;
}

#K-02 div input {
	width: 300px;
	height: 35px;
	border: 2px solid rgba(0,153,153,0.5);
	color: #009999;
	font-weight: 700; 
}

#K-id input {
	margin-left: 57px;
}

#K-pw input {
    margin-left: 33px;
}

#K-name input {
	margin-left: 81px;
}

#Dept {
	margin-left: 82px;
	border: 2px solid rgba(0,153,153,0.5); 
}

#K-birth input {
	margin-left: 34px;
}

#K-email input {
	margin-left: 57px;
}

#K-join {
	width: 72px;
    height: 40px;
    background: #fffafa;
    color: #009999;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 4px;
    padding-top: 5px;
    margin-top: 20px;
    border: 2px solid rgba(0,153,153,0.5);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
    position: relative;
    right: -45%;
    left: 185px;
}
