@charset "UTF-8";
	.headerTitle {
		font-weight: bold;
		font-family: 'Sunflower', sans-serif;
	    color: #009999;
		
	}
	
	.title h1 {
		font-size:30px;
		
	}
	
	.title h4 {
		font-size:15px;
		text-align: center;
		
	}

	#K_information {
    	width: 250px;
    	border: 2px solid rgba(0,153,153,0.5);
    	border-radius: 5px;
    }
    
	#K_information div {
    	width: 150px;
		height: 40px;
		text-align: left;
		padding-left: 10px;
	}
	
	#K_dept {
		padding-top: 10px;
	}
	
	#K_logout {
	    display: inline-block;
	    position: relative;
	    top: -75%;
	    left: 105%;
	    color: #009999; /* 어떤 색이 더 나은지 물어보기.  */
	    background-color: #fff;
	    border-radius: 3px;
	    cursor: pointer;
	    border: 2px solid rgba(0,153,153,0.5);
	}
	
	#K_dept, #K_name {
		color: #009999;
		border-color: #009999;
		--bs-btn-color: #009999;
		--bs-btn-border-color: #009999;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: rgba(0,153,153,0.5);
		--bs-btn-hover-border-color: #009999;
		--bs-btn-focus-shadow-rgb: 40,153,140;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #009999;
		--bs-btn-active-border-color: #009999;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #009999;
		--bs-btn-disabled-bg: transparent;
		--bs-btn-disabled-border-color: #009999;
		--bs-gradient: none;
	}
	
	/* {
		color: #fff;
		border-color: #009999;
		--bs-btn-color: #fff;
		--bs-btn-bg: #009999;
		--bs-btn-border-color: #009999;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: rgba(0,153,153,0.5);
		--bs-btn-hover-border-color: #00A0A0;
		--bs-btn-focus-shadow-rgb: 40,153,140;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #00A0A0;
		--bs-btn-active-border-color: #00A0A0;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: #009999;
		--bs-btn-disabled-border-color: #009999;
		
	} */

