	.container{
		
	}
	
	.headerTitle{
		font-weight: bold;
		font-family: 'Sunflower', sans-serif;
	    color: #009999;
		
	}
	
	.title h1 {
		font-size:30px;
		
	}
	
	.title h4 {
		font-size:15px;
		text-align: center;
		
	}
	
	#loginBtn{
		color: #009999;
		border-color: #009999;
		--bs-btn-color: #009999;
		--bs-btn-border-color: #009999;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: rgba(0,153,153,0.5);
		--bs-btn-hover-border-color: #009999;
		--bs-btn-focus-shadow-rgb: 40,153,140;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #009999;
		--bs-btn-active-border-color: #009999;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #009999;
		--bs-btn-disabled-bg: transparent;
		--bs-btn-disabled-border-color: #009999;
		--bs-gradient: none;
	}
	
	#signupBtn{
		color: #fff;
		border-color: #009999;
		--bs-btn-color: #fff;
		--bs-btn-bg: #009999;
		--bs-btn-border-color: #009999;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: rgba(0,153,153,0.5);
		--bs-btn-hover-border-color: #00A0A0;
		--bs-btn-focus-shadow-rgb: 40,153,140;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #00A0A0;
		--bs-btn-active-border-color: #00A0A0;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: #009999;
		--bs-btn-disabled-border-color: #009999;
		
	}