@charset "UTF-8";

*{
	font-Family: 'Noto Sans KR';
	
}

.buttonClass{
	text-decoration-line: none;
	margin-top: 30px;
    margin-left: 20px;
	width: 300px;
	height: 130px;
	color: #553830;
	border-color: #E2E2E2;
	background-color: beige;
	font-size: 25px;
    font-weight: bold;
	
}

.btn-outline-dark {
	--bs-btn-hover-bg: #553830;
	
}

.balju{
	width: 460px;
}