@charset "UTF-8";

	.main{
		position: relative;
		text-align: center;
		margin-top: 30px;
	}
	
	#tableContainer01, #tableContainer02{
		margin: auto;
		width: 65%;
	}
	
	.buttonContainer{
		display: inline-flex;
	    position: relative;
	    text-align: center;
		margin-top: 30px;
	    
	}
	
	#app, #email{
		width: 250px;
	}
	
	tableClass{
		width:100vh;
	}
	