<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
	<tr>
		<td colspan="8">거래명세서</td>
	</tr>
	<tr>
		<td>발행일</td>
		<td colspan="2"><input type="hidden"></td>
		<td rowspan="7"><p></p></td>
		<td colspan="5">공급자</td>
	</tr>
	<tr>
		<td rowspan="2">거래처명</td>
		<td rowspan="2" colspan="2"><input></td>
		<td>사업자번호</td>
		<td colspan="4"><input></td>
	</tr>
	<tr>
		<td>업체명</td>
		<td><input></td>
		<td>대표</td>
		<td><input></td>
	</tr>
	<tr>
		<td>인수담당자</td>
		<td colspan="2"><input></td>
		<td>주소</td>
		<td colspan="3"><input></td>
	</tr>
	<tr>
		<td>총 합계</td>
		<td colspan="2"><input></td>
		<td>전화</td>
		<td><input></td>
		<td>팩스</td>
		<td><input></td>
	</tr>
	<tr>
		<td colspan="8"><p></p></td>
	</tr>
	<tr>
		<td>No</td>
		<td>품명</td>
		<td>규격</td>
		<td>수량</td>
		<td>단가</td>
		<td>공급가액</td>
		<td>세액(공급가액*10%)</td>
	</tr>
</table>
</body>
</html>